Project/.vs/Project.slnx/FileContentIndex/1dae9a46-f09d-41f1-a2a4-0e6e893ca221.vsidx
Project/.vs/Project.slnx/FileContentIndex/29d9233f-8fec-4ea3-b8b4-8728d84ae9fa.vsidx
Project/.vs/Project.slnx/FileContentIndex/38b6a020-f1bd-4e2f-ae15-3c4004107048.vsidx
Project/.vs/Project.slnx/FileContentIndex/469da73b-64af-4f63-b583-765bae0dde23.vsidx
Project/.vs/Project.slnx/FileContentIndex/8d1e6da1-d87b-4205-a537-96f7ec9e72e8.vsidx
Project/.vs/Project.slnx/FileContentIndex/93f96e11-cac5-4348-8968-c129f9e8703e.vsidx
Project/.vs/Project.slnx/FileContentIndex/951a9adf-3105-4d92-b6d2-96203ae7fd4a.vsidx
Project/.vs/Project.slnx/FileContentIndex/c60fccfb-e472-4946-9bcf-52df56950814.vsidx
Project/.vs/Project.slnx/FileContentIndex/d5b09217-aed3-41e1-a9f7-88fed99eb5ba.vsidx
Project/.vs/Project.slnx/FileContentIndex/e0d27b33-a48c-4f25-b324-4300889264a9.vsidx
Project/.vs/ProjectEvaluation/project.metadata.v10.bin
Project/.vs/ProjectEvaluation/project.projects.v10.bin
Project/.vs/ProjectEvaluation/project.strings.v10.bin
Project/obj/Debug/net8.0-windows/Project.AssemblyInfo.cs
Project/obj/Debug/net8.0-windows/Project.AssemblyInfoInputs.cache
Project/obj/Debug/net8.0-windows/Project.assets.cache
Project/obj/Debug/net8.0-windows/Project.csproj.AssemblyReference.cache
Project/obj/Debug/net8.0-windows/Project.designer.runtimeconfig.json
Project/obj/Debug/net8.0-windows/Project.GeneratedMSBuildEditorConfig.editorconfig
Project/obj/project.assets.json
Project/obj/Project.csproj.nuget.dgspec.json
Project/obj/Project.csproj.nuget.g.props
Project/obj/project.nuget.cache
